@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Do you grab your surfboard now?</h1>
        <img src="~/img/logo1.png" alt="SmoothBoardStylers" width="300"
             height="300">
    </div>


